build/Release
node_modules/
.env*
logs/
*.log
coverage/
.DS_Store
.vscode/
dist/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
.eslintcache
deploy.sh
deploy-commands.txt
